@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 16px; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button {
  outline: none;
  border: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7; }

.container {
  max-width: 768px;
  margin: 0 auto; }
  .container-fluid {
    margin: 0;
    max-width: 100%; }
    .container-fluid .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
    .container-fluid .col-1 {
      flex-basis: 8.33333%; }
    .container-fluid .col-2 {
      flex-basis: 16.66667%; }
    .container-fluid .col-3 {
      flex-basis: 25%; }
    .container-fluid .col-4 {
      flex-basis: 33.33333%; }
    .container-fluid .col-5 {
      flex-basis: 41.66667%; }
    .container-fluid .col-6 {
      flex-basis: 50%; }
    .container-fluid .col-7 {
      flex-basis: 58.33333%; }
    .container-fluid .col-8 {
      flex-basis: 66.66667%; }
    .container-fluid .col-9 {
      flex-basis: 75%; }
    .container-fluid .col-10 {
      flex-basis: 83.33333%; }
    .container-fluid .col-11 {
      flex-basis: 91.66667%; }
    .container-fluid .col-12 {
      flex-basis: 100%; }
    .container-fluid .col-sm-1 {
      flex-basis: 8.33333%; }
    .container-fluid .col-sm-2 {
      flex-basis: 16.66667%; }
    .container-fluid .col-sm-3 {
      flex-basis: 25%; }
    .container-fluid .col-sm-4 {
      flex-basis: 33.33333%; }
    .container-fluid .col-sm-5 {
      flex-basis: 41.66667%; }
    .container-fluid .col-sm-6 {
      flex-basis: 50%; }
    .container-fluid .col-sm-7 {
      flex-basis: 58.33333%; }
    .container-fluid .col-sm-8 {
      flex-basis: 66.66667%; }
    .container-fluid .col-sm-9 {
      flex-basis: 75%; }
    .container-fluid .col-sm-10 {
      flex-basis: 83.33333%; }
    .container-fluid .col-sm-11 {
      flex-basis: 91.66667%; }
    .container-fluid .col-sm-12 {
      flex-basis: 100%; }
    @media screen and (min-width: 768px) {
      .container-fluid .col-md-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-md-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-md-3 {
        flex-basis: 25%; }
      .container-fluid .col-md-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-md-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-md-6 {
        flex-basis: 50%; }
      .container-fluid .col-md-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-md-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-md-9 {
        flex-basis: 75%; }
      .container-fluid .col-md-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-md-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-md-12 {
        flex-basis: 100%; } }
    @media screen and (min-width: 992px) {
      .container-fluid .col-lg-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-lg-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-lg-3 {
        flex-basis: 25%; }
      .container-fluid .col-lg-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-lg-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-lg-6 {
        flex-basis: 50%; }
      .container-fluid .col-lg-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-lg-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-lg-9 {
        flex-basis: 75%; }
      .container-fluid .col-lg-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-lg-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-lg-12 {
        flex-basis: 100%; } }
    @media screen and (min-width: 1200px) {
      .container-fluid .col-xl-1 {
        flex-basis: 8.33333%; }
      .container-fluid .col-xl-2 {
        flex-basis: 16.66667%; }
      .container-fluid .col-xl-3 {
        flex-basis: 25%; }
      .container-fluid .col-xl-4 {
        flex-basis: 33.33333%; }
      .container-fluid .col-xl-5 {
        flex-basis: 41.66667%; }
      .container-fluid .col-xl-6 {
        flex-basis: 50%; }
      .container-fluid .col-xl-7 {
        flex-basis: 58.33333%; }
      .container-fluid .col-xl-8 {
        flex-basis: 66.66667%; }
      .container-fluid .col-xl-9 {
        flex-basis: 75%; }
      .container-fluid .col-xl-10 {
        flex-basis: 83.33333%; }
      .container-fluid .col-xl-11 {
        flex-basis: 91.66667%; }
      .container-fluid .col-xl-12 {
        flex-basis: 100%; } }
  .container .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container .col-1 {
    flex-basis: 8.33333%; }
  .container .col-2 {
    flex-basis: 16.66667%; }
  .container .col-3 {
    flex-basis: 25%; }
  .container .col-4 {
    flex-basis: 33.33333%; }
  .container .col-5 {
    flex-basis: 41.66667%; }
  .container .col-6 {
    flex-basis: 50%; }
  .container .col-7 {
    flex-basis: 58.33333%; }
  .container .col-8 {
    flex-basis: 66.66667%; }
  .container .col-9 {
    flex-basis: 75%; }
  .container .col-10 {
    flex-basis: 83.33333%; }
  .container .col-11 {
    flex-basis: 91.66667%; }
  .container .col-12 {
    flex-basis: 100%; }
  .container .col-sm-1 {
    flex-basis: 8.33333%; }
  .container .col-sm-2 {
    flex-basis: 16.66667%; }
  .container .col-sm-3 {
    flex-basis: 25%; }
  .container .col-sm-4 {
    flex-basis: 33.33333%; }
  .container .col-sm-5 {
    flex-basis: 41.66667%; }
  .container .col-sm-6 {
    flex-basis: 50%; }
  .container .col-sm-7 {
    flex-basis: 58.33333%; }
  .container .col-sm-8 {
    flex-basis: 66.66667%; }
  .container .col-sm-9 {
    flex-basis: 75%; }
  .container .col-sm-10 {
    flex-basis: 83.33333%; }
  .container .col-sm-11 {
    flex-basis: 91.66667%; }
  .container .col-sm-12 {
    flex-basis: 100%; }
  @media screen and (min-width: 768px) {
    .container .col-md-1 {
      flex-basis: 8.33333%; }
    .container .col-md-2 {
      flex-basis: 16.66667%; }
    .container .col-md-3 {
      flex-basis: 25%; }
    .container .col-md-4 {
      flex-basis: 33.33333%; }
    .container .col-md-5 {
      flex-basis: 41.66667%; }
    .container .col-md-6 {
      flex-basis: 50%; }
    .container .col-md-7 {
      flex-basis: 58.33333%; }
    .container .col-md-8 {
      flex-basis: 66.66667%; }
    .container .col-md-9 {
      flex-basis: 75%; }
    .container .col-md-10 {
      flex-basis: 83.33333%; }
    .container .col-md-11 {
      flex-basis: 91.66667%; }
    .container .col-md-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 992px) {
    .container .col-lg-1 {
      flex-basis: 8.33333%; }
    .container .col-lg-2 {
      flex-basis: 16.66667%; }
    .container .col-lg-3 {
      flex-basis: 25%; }
    .container .col-lg-4 {
      flex-basis: 33.33333%; }
    .container .col-lg-5 {
      flex-basis: 41.66667%; }
    .container .col-lg-6 {
      flex-basis: 50%; }
    .container .col-lg-7 {
      flex-basis: 58.33333%; }
    .container .col-lg-8 {
      flex-basis: 66.66667%; }
    .container .col-lg-9 {
      flex-basis: 75%; }
    .container .col-lg-10 {
      flex-basis: 83.33333%; }
    .container .col-lg-11 {
      flex-basis: 91.66667%; }
    .container .col-lg-12 {
      flex-basis: 100%; } }
  @media screen and (min-width: 1200px) {
    .container .col-xl-1 {
      flex-basis: 8.33333%; }
    .container .col-xl-2 {
      flex-basis: 16.66667%; }
    .container .col-xl-3 {
      flex-basis: 25%; }
    .container .col-xl-4 {
      flex-basis: 33.33333%; }
    .container .col-xl-5 {
      flex-basis: 41.66667%; }
    .container .col-xl-6 {
      flex-basis: 50%; }
    .container .col-xl-7 {
      flex-basis: 58.33333%; }
    .container .col-xl-8 {
      flex-basis: 66.66667%; }
    .container .col-xl-9 {
      flex-basis: 75%; }
    .container .col-xl-10 {
      flex-basis: 83.33333%; }
    .container .col-xl-11 {
      flex-basis: 91.66667%; }
    .container .col-xl-12 {
      flex-basis: 100%; } }

.navbar {
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem; }
  .navbar .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar .navbar-brand svg {
      fill: #e60023; }
    .navbar .navbar-brand .nav-logo-text {
      color: #e60023;
      padding: 4px 10px;
      font-weight: bold; }
  .navbar .navbar-links {
    display: flex; }
    .navbar .navbar-links ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem; }
      .navbar .navbar-links ul li {
        margin: 0px 8px; }
        .navbar .navbar-links ul li a {
          padding: 4px 10px;
          color: #000000;
          font-weight: bold;
          transition: color 300ms ease-in-out; }
          .navbar .navbar-links ul li a:hover {
            color: #e60023;
            text-decoration: underline; }

.btn {
  margin: 0px 8px;
  padding: 10px 12px;
  border-radius: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1.6rem;
    position: relative;
    transition: all 0.2s; }
  .btn.btn-primary {
    background-color: #e60023;
    color: white;
    transition: all 300ms ease-in-out; }
    .btn.btn-primary:hover {
      background-color: #efefef;
      color: #e60023; }
  .btn.btn-default {
    background-color: #efefef;
    color: #000000;
    transition: all 300ms ease-in-out; }
    .btn.btn-default:hover {
      background-color: #e60023;
      color: white; }

.hero-section {
  width: 100%; }

.hero {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0px auto; }
  .hero .hero-banner {
    position: relative; }
    .hero .hero-banner .hero-static-text {
      width: 100%;
      font-size: 60px;
      font-weight: bold;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0%); }
    .hero .hero-banner .hero-dynamic-text .use-case {
      width: 100%;
      display: none;
      font-size: 50px;
      font-weight: bold; }
      .hero .hero-banner .hero-dynamic-text .use-case.food {
        color: #c28b00; }
      .hero .hero-banner .hero-dynamic-text .use-case.home {
        color: #618c7b; }
      .hero .hero-banner .hero-dynamic-text .use-case.fashion {
        color: #0076d3; }
      .hero .hero-banner .hero-dynamic-text .use-case.gardening {
        color: #407a57; }
      .hero .hero-banner .hero-dynamic-text .use-case.active {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        animation: scrollingUp 6s; }
    .hero .hero-banner .indicator {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translate(-50%, 0); }
      .hero .hero-banner .indicator ul {
        display: flex;
        justify-content: center;
        align-items: center; }
        .hero .hero-banner .indicator ul li {
          margin: 0px 4px; }
          .hero .hero-banner .indicator ul li .indicator-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #e1e1e1;
            cursor: pointer; }
            .hero .hero-banner .indicator ul li .indicator-dot.food-dot.active {
              background-color: #c28b00; }
            .hero .hero-banner .indicator ul li .indicator-dot.home-dot.active {
              background-color: #618c7b; }
            .hero .hero-banner .indicator ul li .indicator-dot.fashion-dot.active {
              background-color: #0076d3; }
            .hero .hero-banner .indicator ul li .indicator-dot.gardening-dot.active {
              background-color: #407a57; }

.gallery-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -2; }
  .gallery-wrapper .gallery {
    display: flex;
    width: 1750px;
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto; }
    .gallery-wrapper .gallery .image-column {
      display: block;
      width: 25%;
      height: 100vh;
      margin: 0px 10px; }
      .gallery-wrapper .gallery .image-column[role='first-col'] {
        margin-top: 0px; }
      .gallery-wrapper .gallery .image-column[role='second-col'], .gallery-wrapper .gallery .image-column[role='sixth-col'] {
        margin-top: 120px; }
      .gallery-wrapper .gallery .image-column[role='third-col'], .gallery-wrapper .gallery .image-column[role='fifth-col'] {
        margin-top: 180px; }
      .gallery-wrapper .gallery .image-column[role='fourth-col'] {
        margin-top: 240px; }
      .gallery-wrapper .gallery .image-column[role='first-col'] {
        animation: slideUp 6s; }
      .gallery-wrapper .gallery .image-column[role='second-col'] {
        animation: slideUp 6s;
        animation-delay: 0.2s; }
      .gallery-wrapper .gallery .image-column[role='third-col'] {
        animation: slideUp 6s;
        animation-delay: 0.6s; }
      .gallery-wrapper .gallery .image-column[role='fourth-col'] {
        animation: slideUp 6s;
        animation-delay: 1s; }
      .gallery-wrapper .gallery .image-column[role='fifth-col'] {
        animation: slideUp 6s;
        animation-delay: 1.4s; }
      .gallery-wrapper .gallery .image-column[role='sixth-col'] {
        animation: slideUp 6s;
        animation-delay: 1.8s; }
      .gallery-wrapper .gallery .image-column[role='seventh-col'] {
        animation: slideUp 6s;
        animation-delay: 2.2s; }
      .gallery-wrapper .gallery .image-column div .image-card {
        margin-bottom: 1rem; }
        .gallery-wrapper .gallery .image-column div .image-card div {
          width: 236px;
          height: 350px;
          border-radius: 6%; }
          .gallery-wrapper .gallery .image-column div .image-card div .image {
            background-image: url("https://i.pinimg.com/550x/a7/87/20/a78720c39a39ac50a2856420d636d113.jpg");
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: relative; }
  .gallery-wrapper .overlay {
    position: fixed;
    bottom: 0;
    height: 180px;
    max-height: 20%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), white); }

@keyframes scrollingUp {
  0% {
    top: 140px;
    opacity: 0.5; }
  25% {
    top: 100px;
    opacity: 1; }
  50% {
    top: 100px;
    opacity: 1; }
  75% {
    top: 100px;
    opacity: 1; }
  100% {
    top: 60px;
    opacity: 0; } }

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  25% {
    transform: translateY(0px);
    opacity: 0.5; }
  50% {
    transform: translateY(0px);
    opacity: 1; }
  75% {
    transform: translateY(0px);
    opacity: 1; }
  100% {
    transform: translateY(-100px);
    opacity: 0; } }
