.hero-section {
  width: 100%;
}

.hero {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0px auto;

  .hero-banner {
    position: relative;

    .hero-static-text {
      width: 100%;
      font-size: 60px;
      font-weight: bold;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .hero-dynamic-text {
      .use-case {
        width: 100%;
        display: none;
        font-size: 50px;
        font-weight: bold;
        &.food {
          color: $yellow;
        }
        &.home {
          color: $light-green;
        }
        &.fashion {
          color: $blue;
        }
        &.gardening {
          color: $green;
        }

        &.active {
          display: block;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0%);
          animation: scrollingUp 6s;
        }
      }
    }
    .indicator {
      position: absolute;
      top: 200px;
      left: 50%;
      transform: translate(-50%, 0);
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 0px 4px;
          .indicator-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $grey;
            cursor: pointer;
            &.foot-dot.active {
              background-color: $yellow;
            }
            &.home-dot.active {
              background-color: $light-green;
            }
            &.fashion-dot.active {
              background-color: $blue;
            }
            &.gardening-dot.active {
              background-color: $green;
            }
          }
        }
      }
    }
  }
}

@keyframes scrollingUp {
  0% {
    top: 140px;
    opacity: 0.5;
  }

  25% {
    top: 100px;
    opacity: 1;
  }

  50% {
    top: 100px;
    opacity: 1;
  }

  75% {
    top: 100px;
    opacity: 1;
  }

  100% {
    top: 60px;
    opacity: 0;
  }
}
