.sign-up-modal {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 1500;

  &.hide {
    display: none;
    .login-form {
      display: none;
    }
  }
  &.show {
    display: block;

    .overlay {
      width: 100vw;
      height: 100vh;

      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);

      z-index: 1600;
    }

    .login-form {
      display: block;
      .login-logo {
        .close-button {
        width: 18px;
        height: 18px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
      }
      }
    }
  }

  .login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
  }
}
