.sign-up-modal {
  width: 50vw;
  margin: 0 auto;
  position: relative;
  z-index: 1000;

  &.hide {
    display: none;
    .login-form {
      display: none;
    }
  }
  &.show {
    display: block;

    .overlay {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);

      z-index: -1;
    }

    .login-form {
      display: block;
    }
  }

  .login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
