*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
